.mobile__btn
  display none

.hero
  &__title
    font-size: 47.3392px;
    line-height: 59px;
    color: #2E47A6
    width 10%

  &__lang
    transform rotate(-90deg)
    height 20px
    margin-top 10%

    & > a
      font-size: 16px;
      line-height: 20px;
      color: #828282;
      text-transform uppercase
      font-weight 500

    & > a:hover
      color #2E47A6

  &__img
    margin 0 auto

  &__texts
    margin-top 7%

  &__text p
    text-align center
    width 90%

.menu
  display flex
  flex-direction row
  justify-content space-between
  flex-wrap wrap
  margin-top 50px
  padding 50px 0 30px 0

  & > a
    color: #828282;
    font-weight 500

.border
  border-bottom 1px solid grey

  & a:hover
    color black

#active
  color black
  font-weight 600

#active2
  display none

.contacts
  background-color #FF4644
  margin-top -3%

  &__title
    padding-top 10%
    font-size: 34px;
    line-height: 42px;
    text-align: center;

  &__des
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin 2% auto
    width 30%

  &__btn
    background-color black
    border-radius 5rem
    padding 1rem 3rem
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin 4% auto
    display flex
    flex-direction column
    align-items center
    border 2px solid black

  &__btn:focus, &__btn:active, &__btn:hover
    outline none
    background-color transparent
    border 2px solid white

  &__icons
    display flex
    justify-content space-between
    width 30%
    margin 5% auto


  &__links
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #bcaaa4;

.social
  width 30%
  display flex
  justify-content space-between


.space
  width 30%


.hero__text
  width 100%
  height 20%
  color black
  display flex
  justify-content flex-start
  flex-wrap wrap
  margin 0 auto


.hero__text p
  text-align left


.hero__col, .hero__col2, .hero__col3
  display flex
  border-bottom 2px solid grey
  margin 0 auto
  align-items center
  height 100%


.hero__text button, .hero__text2 button, .registration__btn button
  border 2px solid darkslategrey
  color darkslategrey
  font-family Arial
  background transparent
  border-radius .2rem
  padding 1rem 3rem
  text-transform uppercase


.hero__text2
  margin-left 5rem
  width 80%


.hero__col4
  height 100%
  flex-wrap wrap

.hero__col4 h1
  flex-basis 100%

.hero__text3
  margin 0 auto
  width 100%
  align-self center
  text-align center

.hero__text h1, .hero__text2 h1
  color orange
  text-shadow 3px 3px 0px rgba(0, 0, 0, 0.2)


.registration__btn button
  padding 1rem 10rem
  margin 0 auto


button:focus, button:hover
  background orange
  cursor pointer
  outline none
  border 2px solid white
  color white
  box-shadow 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0)


//*:hover
//  transition .5s


.ball
  position absolute
  width 100px
  height 100px
  top 50%
  left 50%
  transform translate(-50px, -50px)

.light
  &__wrap
    margin-top 10%
    width 100%
    height 80%
    display flex
    justify-content center
    align-items center

    &__block
      width 90%
      height 40%
      display flex
      border 3px solid #555555
      border-radius 2rem
      justify-content center
      align-items center

      &__circle
        width 50%
        height 50%
        display flex
        flex-direction row
        background-color #555555
        border 3px solid #555555
        border-radius 6rem
        margin 2%

//.circle
//  &__red
//    background-color red
//  &__yellow
//    background-color gold
//  &__green
//    background-color green

.modal
  width 100%
  height 100%
  background rgba(0, 0, 0, .8);
  display flex
  position absolute
  left 0vw
  top 215vh

  &__window
    margin-top 10%
    width 50%
    height 20%
    background wheat
    display flex
    justify-content center
    align-items center
    flex-wrap wrap
    position absolute
    left 22vw
    top 10vh
    border-radius .5rem

    &__h1
      flex-basis 100%
      display flex
      justify-content center
      align-items center

      &__close
        margin-top -50px
        margin-right -20px
        text-align center
        padding .3rem .5rem
        text-transform uppercase
        border 2px solid orange
        border-radius .5rem
        background transparent
        font-weight 700
        color orange

    &__btn
      padding 1rem 14rem
      text-transform uppercase
      border 2px solid orange
      border-radius .5rem
      background transparent
      font-weight 700
      color orange
      margin-bottom 2%


.hero__col2
  border none

.fire__img2, .fire__img3
  display flex
  color black
  flex-wrap wrap
  flex-direction row
  margin 2rem 5rem
  width 100%
  height 100%

  & a
    text-transform lowercase

  & ul
    list-style disc
    cursor pointer
    margin 1rem

  & ul ul
    list-style circle

  & ul ul ul
    list-style square


.test a
  color black

.js-a-style
  border-bottom 2px dotted orange
  color orange !important


.js-a-style2
  border-bottom 2px dotted red
  color red !important

.js-li-style-none
  display none


.js-li-style-display
  display flex

// ТРЕКБАР ДИЗАЙН
.slidecontainer
  width: 100%
  height 100%


.slider
  -webkit-appearance: none
  width 60%
  height 10px
  border-radius 5px
  background white
  outline none
  opacity 0.7
  -webkit-transition .2s
  transition opacity .2s

.slider:hover
  opacity 1


.slider::-webkit-slider-thumb
  -webkit-appearance none
  appearance none
  width 23px
  height 24px
  border 0
  background url('/static/img/airplane-48.png')
  background-size contain
  cursor pointer


h1
  width 100%

.slider__div
  width 800px
  height 427px
  display flex
  flex-direction row

.slider__div button
  background wheat
  border none
  box-shadow none

.slider__img__block
  flex-basis 95%

.slider__img__block img
  width 100%
  height 100%


.scroll-block-info
  height 1350px
  width 85%
  border saddlebrown 1px solid

  & p, h1
    padding .5rem .5rem

.calendar__div
  width 85%
  height 600px
  display flex
  flex-direction column
  align-items center

  &__input
    display flex
    flex-direction row
    justify-content center

    & p
      width 5%
      padding .5rem .5rem
      margin .7rem 2rem

    & input
      height 1rem
      width 55%
      margin-top 1.2rem

.calendar__div button
  width 60%
  margin-bottom 5rem

// календарь

.item
  display none

.d-none
  display none

.d-flex
  display flex


// accordion

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color #2b4475
  color: white;
  text-transform uppercase
  cursor: pointer;
  padding: 18px;
  width 50vw
  text-align: left;
  border: 2px solid transparent;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #131d2d;

}

/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color #86a4db
  display: none;
  overflow: hidden;
  width 50vw

}


.block-info p
  border none
  background-color #86a4db
  color #10131c
  margin .4rem

//  scroll

#infinite-scroll
  width 70vw
  margin 1rem 13rem


#arrowTop {
  height: 9px;
  width: 14px;
  position: fixed;
  bottom: 20px;
  left: 0%;
  cursor: pointer;
}

#arrowTop::before {
  background:  #d6d2d2;
  height: 100px;
  width: 100vw;
  content: '💬';
  text-align center
}





//calendar


&:before,
&:after
  content: " ";
  display: table;

&:after
  clear: both;

.calendar
  width 60px * 7;
  font-size: 24px;
  border: solid 3px #afafaf;
  border-radius: 0px 0px 10px 0px;
.calendar-head
  @include clearfix();
  div
    float: left;
    width: 60px;
    text-align: center;
    color: #7b7b7b;


.calendar-body {
  @include clearfix();
  div {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 60px - 8px;
    height: 60px - 8px;
    margin: 4px;
    padding-top: 60px/ 5;
    border-radius: 7px;
    text-align: center;
    background: #d98963;
    color: #3b3b3b;
    &.no-day {
      background: none;
    }
    &.cur-day {
      background: #fd7741;
      color: #fff;
    }
  }
}



