input:active, input:focus, textarea:active, textarea:focus
  outline none

a
  text-decoration none


button
  margin-left  1rem
  padding .5rem
  color white
  background: linear-gradient(45deg , #a75f4d,#2980b9);
  border 2px solid transparent

button:focus, button:hover
  background transparent
  cursor pointer
  outline none
  border 2px solid #8d5757
  color #555555


.space
  height 100px
  width 100px

.image-slider .swiper-button-prev::after, .image-slider .swiper-button-next::after
  color #ff761a
  font-size 80px
  text-shadow: 1px 1px 6px #ff4800;

.image-slider .swiper-pagination
  bottom 0

.image-slider .swiper-pagination-bullet
  width 20px
  height 20px
  font-size 14px
  border-radius 0px
  background-color #ff761a
  box-shadow: 1px 1px 6px #ff4800, 1px 1px 16px #ff7100;

.swiper-pagination2-progressbar-fill
  background-color #ff481a !important
  box-shadow: 1px 1px 6px #ff6e00, 1px 1px 16px #ff7900;



.swiper-pagination-progressbar-fill
  background-color #ff481a !important
  box-shadow: 1px 1px 6px #ff6e00, 1px 1px 16px #ff7900;

